:root {
  /* Tabbar: reduce tab margin */
  --tab-block-margin: 4px !important;
  --tab-min-height: 30px !important;
  --toolbarbutton-focus-outline: var(--input-bgcolor) !important;
  --urlbar-height: 32px !important;
  --toolbarbutton-inner-padding: 4px !important;
  --toolbarbutton-outer-padding: 5px !important;
  --urlbar-container-height: 35px !important;
  --urlbar-icon-padding: 4px;
  --tab-border-radius: 4px !important;
  --doc-height-px: 150px !important;
}

*:not(.tabbrowser-tab):not(panel *):not(panel):not([subdialog]) {
	transition: 0.1s !important;
}
/*================== MAIN HEADER ==================*/

toolbox#navigator-toolbox {
	border: 0 !important;
}

/*================== TABS BAR ==================*/

#titlebar #TabsToolbar {
	padding: 0px 0px 0px 0px !important;
}

.titlebar-spacer[type="pre-tabs"] {
	/* border: 0 !important; */
	display: none;
}

#tabs-newtab-button {
	padding: 0 2px !important;
}

.tab-line {
	height: 0px !important;
}

/* disable margin on pinned tabs */
.tabbrowser-tab {
	margin-inline-start: 0 !important;
}

*[pinned] {
	position: relative !important;
}

.tab-line {
	height: 0px !important;
}

.tab-close-button {
	border-radius: 4px !important;
}

.tab-close-button:hover {
	fill-opacity: 4 !important;
}

/*================== NEW TAB BUTTON ==================*/

toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active)>.toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)>.toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active)>.toolbarbutton-icon {
	border-radius: 4px !important;
}

/*================== SEARCH BAR ==================*/

searchbar#searchbar {
	margin-top: 4px !important;
	border-radius: 4px !important;
	border: 1 !important;
	box-shadow: none !important;
}

#urlbar {
	--urlbar-height: 32px !important;
}

#urlbar:not([open="true"]) #urlbar-background {
	height: 28px !important;
}


#urlbar-input-container box {
	width: auto !important;
	max-width: 24px !important;
	max-height: 24px !important;
}

.url-page-action {
	--urlbar-icon-padding: 2px !important;
}

.notification-content {
	max-height: 10px;
	margin-top: -2px !important;
}

button.small {
	padding: 3px !important;
}

#pageAction-urlbar-side-view_mozilla_org {
	display: none;
}

#urlbar-zoom-button {
	padding-top: 0 !important;
}

stack:not([soundplaying=true]) ~ .tab-label-container {
	height: 24px !important;
}

/*================== NAV BAR ==================*/

toolbar#nav-bar {
	box-shadow: none !important;
	padding: 0 !important;
	height: 37px !important;
}

toolbarbutton, .toolbarbutton-icon, #fxa-avatar-image {
	border-radius: 4px !important;
	
}

#nav-bar-customization-target {
	padding-bottom: 2px;
}

#nav-bar-customization-target toolbarbutton, #nav-bar-customization-target box {
	max-height: 33px;
}

#urlbar>#urlbar-background
#urlbar>#urlbar-input-container {
	border-radius: 4px !important;
}
	

#urlbar:not([focused="true"])>#urlbar-background,
#urlbar>#urlbar-input-container {
	border-radius: 4px !important;
}

/*Fixes the funky Reload/Stop button*/

box.toolbarbutton-animatable-box {
	margin-top: -2px !important;
}

.tabbrowser-tab[selected="true"] .tab-label:-moz-lwtheme-brighttext {
	color: white !important;
}

.tabbrowser-tab .tab-label:-moz-lwtheme-brighttext {
	color:rgba(255,255,255,0.9) !important;
}

.tabbrowser-tab[selected="true"] .tab-background:-moz-lwtheme-brighttext {
	box-shadow: inset 0em -4em 0em var(--toolbar-bgcolor) !important;
}
